{% extends 'base.html' %}

{% block content %}

{% if not created %}


<div style='margin-top:30px;'>
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create article</button>
    </form>
</div>
{% else %}
<p>Your article was created</p>
<li><a href="/articles/{{ article_object.id }}">{{ article_object.title }}</a></li>
{% endif %}
{% endblock content %}