{% extends 'base.html' %}

{% block content %}
<h1>user is: {{ object.user }}
    {% if request.user == object.user %}
    This is your zone
    {% endif %}</h1>
<h1>title is: {{ object.title }}</h1>
<h1>content is: {{ object.content }}</h1>
{% endblock content %}