{% extends 'base.html' %}

{% block content %}
<ol>
    {% for object in object_list %}
    {% if object.title %}
    <li>
        <a href="{{object.article_detail_absolute_url}}">{{ object.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ol>
{% endblock content %}