<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>not replaced</h1>
    <form action='/articles/'>
        <input type="text" name='q' method='GET'>
        <input type="submit">
    </form>
    {% block content %}
    <h3>This will be replaced</h3>
    {% endblock content %}
</body>

</html>