{% extends "base.html" %}

{% block content %}
<a href="{% url 'article-create' %}">
    <h2>Create </h2>
</a>
<ul>
    {% for x in object_list %}
    {% if x.title %}
    <li><a href='{% url "article-detail" slug=x.slug %}'>number is {{ x.title }}</a></li>
    {% endif %}
    {% endfor %}

</ul>
{% endblock content %}