{% extends 'base.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
<div style='margin-top:30px'>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Need account? <a href="/register">Register</a></p>
</div>
{% else %}
<p>You are already logged in</p>
{% endif %}
{% endblock content %}