{% extends 'base.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
<div style='margin-top:30px'>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already have a account? <a href="/login">Login</a></p>
</div>
{% else %}
<p>You are already logged in and cannot rogister. Would you like to <a href="/logout">logout</a> ?</p>
{% endif %}
{% endblock content %}